main{
    margin-left: 9%;
    margin-top: 5%;
}

main > h1{
    margin: 0;
}

main > h4{
    margin: 0;
    margin-top: 3px;
    font-weight: 400;
}

.block{
    background-color: #046db2;
    width: 65px;
    height: 4px;
    margin-top: -4px;
}

article{
    background-color: #fafafa;
    width: 85%;
    padding: 20px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

form{
    background-color: #f0f0f0;
    padding: 25px;
    width: 65%;
}

form > h4{
    margin: 0;
    font-weight: 400;
}

form > input[type=text], form > input[type=password]{
    width: 97%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0 1px 3px rgb(184, 184, 184);
    -webkit-transition: 0.8s;
}

form > input:focus{
    background-color: rgba(0, 0, 0, 0.1);
}

form > div{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

form > div > a{
    text-decoration: none;
    color: rgb(94, 94, 94);
}

form > div > a:hover{
    text-decoration: none;
    color: #046db2;
}

form > div > input[type=button]{
    background-color: #5e5e5e;
    width: 50%;
    height: 45px;
    border: none;
    color: white;
    margin-top: 10px;
    margin-right: 0px;
}

article > div{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

article > div > h4{
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

article > div > input{
    background-color: #5e5e5e;
    width: 180%;
    border: none;
    color: white;
    height: 45px;
}

form > div > input[type=button]:hover{
    background-color: #046db2;
}

article > div > input:hover{
    background-color: #046db2;
}

.part1{
    position: absolute;
    margin-left: 65%;
    width: 30px;
	height: 0;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 300px solid #046db2;
    transform: rotate(270deg);
    margin-top: -30.84%;
}

.part2{
    position: absolute;
    margin-left: 65%;
    width: 30px;
	height: 0;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 300px solid #046db2;
    transform: rotate(90deg);
    margin-top: -6.45%;
}

